body {
  background: rgba(227, 233, 255, 0.3);
  padding: 0;
  color: #444;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

.viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0; }
  .viewport .view {
    transition: all ease-out 0.3s;
    position: absolute;
    width: 100vw;
    height: 100vh; }
    .viewport .view.active {
      top: 0 !important;
      left: 0 !important; }
    .viewport .view#top-left {
      top: -100vh;
      left: -100vw;
      background-color: #555555; }
    .viewport .view#top-right {
      top: -100vh;
      left: 100vw;
      background-color: #005555; }
    .viewport .view#bottom-left {
      top: 100vh;
      left: -100vw;
      background-color: #550055; }
    .viewport .view#bottom-right {
      top: 100vh;
      left: 100vw;
      background-color: #555500; }

a {
  color: #00B7FF; }

left {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 900px;
  padding: 20px; }

right {
  position: absolute;
  top: 0;
  right: 0;
  width: 440px;
  height: 900px;
  padding: 20px; }

.uv-1 {
  color: #005340; }

.uv-2 {
  color: #2C947D; }

.uv-3 {
  color: #12866C; }

.uv-4 {
  color: #D0C61B; }

.uv-5 {
  color: #FFF772; }

.uv-6 {
  color: #E6DD44; }

.uv-7 {
  color: #807900; }

.uv-8 {
  color: #D96196; }

.uv-9 {
  color: #C33975; }

.uv-10 {
  color: #8E0943; }

.uv-11 {
  color: #6D0030; }

em {
  font-size: 22px; }

iframe.iframe-view {
  border: 1px solid #777777;
  box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.1); }

.summary {
  text-align: center;
  color: #ffffff;
  padding: 5vh 100px 0 100px;
  height: 10vh; }

.daily {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding-bottom: 5vh;
  text-align: center; }
  .daily .card {
    background: #fff;
    display: inline-block;
    overflow: hidden;
    width: 25vw;
    border: 1px solid #777777;
    padding: 16px 1vw;
    margin: 0.5vw;
    font-size: 2.4rem;
    line-height: 1.7;
    box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.1); }
    .daily .card icon, .daily .card summary, .daily .card sunrise, .daily .card sunset, .daily .card precipprobability, .daily .card templow, .daily .card temphigh, .daily .card humidity, .daily .card windspeed, .daily .card uvindex {
      height: 6vh; }
    .daily .card day {
      display: block; }
    .daily .card summary {
      display: block;
      font-size: 1.5rem;
      margin: 2rem 0 0 0; }
    .daily .card icon {
      display: block;
      color: #555555;
      margin: 0.5rem 0;
      font-size: 4rem;
      line-height: 1; }
    .daily .card sunrise {
      display: block; }
    .daily .card sunset {
      display: block; }
    .daily .card moonphase {
      display: block; }
    .daily .card precipintensity {
      display: block; }
    .daily .card precipintensitymax {
      display: block; }
    .daily .card precipintensitymaxtime {
      display: block; }
    .daily .card precipprobability {
      display: block; }
    .daily .card templow {
      display: block; }
    .daily .card temphigh {
      display: block; }
    .daily .card tempapparentlow {
      display: block; }
    .daily .card tempapparenthigh {
      display: block; }
    .daily .card humidity {
      display: block; }
    .daily .card windspeed {
      display: block; }
    .daily .card uvindex {
      display: block;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=style.css.map */